.display-relative{
	position:relative;
} 

.class-width{
	width:50%
}
.class-margin{
	margin-bottom:10px; 
}

.class-margin50{
	margin-bottom:50px; 
}

.class-margin-right10{
	margin-right:10px; 
}

.class-padding-none{
	padding:0; 
}

.class-list{
	border:1px solid #000000;
	margin-bottom:20px; 
	 
}

.feature-confirm{ position: relative; }
.feature-confirm-img{  }
.feature-confirm-expert{ 
    position: absolute;
    bottom: -10px;
    left: 5px;
}

